<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    namespace：必须与对应的接口全类名一致  UserMapper.java
    id ：必须与对应接口的某个对应的方法名一致即必须要和UserMapper.java接口中的方法同名。
 -->
<mapper namespace="com.ssm.mapper.UserMapper">

    <select id="findUserByUsername" parameterType="String" resultType="com.ssm.pojo.User">
         select user_id id,user_username username,user_password password,user_name name,user_rolename roleName,user_phone phone  from dms_user
         where user_username=#{username}
    </select>

    <select id="findUserById" parameterType="int" resultType="com.ssm.pojo.User">
        select user_id id,user_username username,user_password password,user_name name,user_rolename roleName,user_phone phone  from dms_user
        where user_id=#{id}
    </select>

    <select id="findAll" resultType="com.ssm.pojo.User">
        select user_id id,user_username username,user_password password,user_name name,user_rolename roleName,user_phone phone  from dms_user
    </select>

    <select id="findPageAll" parameterType="com.ssm.utils.PageHelp" resultType="com.ssm.pojo.User">
        select user_id id,user_username username,user_password password,user_name name,user_rolename roleName,user_phone phone from dms_user
        limit #{start},#{length}
    </select>

    <update id="editUser" parameterType="com.ssm.pojo.User">
        update dms_user set user_password=#{password},user_name=#{name},user_rolename=#{roleName},user_phone=#{phone}
        where user_id=#{id}
    </update>

    <insert id="addUser" parameterType="com.ssm.pojo.User">
        insert into dms_user(user_id,user_username,user_password
            <if test='name!=null and name!=""'>,user_name</if>
            <if test='roleName!=null and roleName!=""'>,user_rolename</if>
            <if test='phone!=null and phone!=""'>,user_phone</if>
        )
        values(null,#{username},#{password}
            <if test='name!=null and name!=""'>,#{name}</if>
            <if test='roleName!=null and roleName!=""'>,#{roleName}</if>
            <if test='phone!=null and phone!=""'>,#{phone}</if>
        )
    </insert>

    <delete id="deleteUser" parameterType="int">
        delete from dms_user where user_id=#{id}
    </delete>

</mapper>
